li {
	margin-top: 10px;
}
ol li a {
	text-decoration: None;
}

ol li a:link {
	color: black;
}

ol li a:visited {
	color: black;
}

ol li a:hover {
/*	color: hotpink; */
	background-color: yellow;
}


