@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap");

*{
  background-color: #1b1b1b;
  font-family: 'Sunflower', sans-serif; 
  padding: 0px;
  margin: 0px;
}

.arrow {
  
  position: fixed;
  top: 20%;
  left: 65%;
  width: 10%;
}


.LottoFrame {
  font-size: 20px;
}
