html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
/*	overflow: hidden;*/

	font-family: "Coming Soon", "apple sd gothic neo";
}

.profileDiv {
	background-color: #353635;
	color: #ffffff;
	width: 20%;
	height: 140%;
	float: left;
	box-shadow: 0px 0px 0px 2px gray;
	margin-right: 20px;
}
.profileDiv a {
	text-decoration: None;
	color: #ffffff;
}
.profileDiv li {
	padding: 3px;
}
.contact {
	margin-top: 30%;
	margin-left: 10%;
}
.aboutMe {
	background-color: #ffffff;
	color: #474544;
	height: 100%;
	float: left;
	width: 65%;
}

.aboutMe li {
	margin-top: 20px;
}
